<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: investorHeader"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Security</th>
        <th>Quantity</th>
        <th>Transaction Price</th>
        <th>Action</th>
        <th>Capital</th>
    </tr>
    </thead>
    <tr th:each="item : ${transactions}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.security.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.transactedPrice}"></td>
        <td th:text="${item.action}"></td>
        <td th:text="${item.capital}"></td>
    </tr>
</table>

</body>
</html>