<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">

    <th:block th:each="transaction : ${transactions}">
        <div class="form-group">
            <label>
                <input type="checkbox" name="transactionIds" th:value="${transaction.id}" class="form-check-input">
                <span th:text="${transaction.id}"></span>
            </label>
        </div>
    </th:block>
    <br/>
    <input type="submit" value="Delete Transaction" class="btn btn-danger">

</form>

</body>
</html>