<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Investor</th>
        <th>Security</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Transaction Price</th>
        <th>Action</th>
        <th>Transaction Value</th>
    </tr>
    </thead>
    <tr th:each="item : ${transactions}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.investor.name}"></td>
        <td th:text="${item.security.name}"></td>
        <td th:text="${item.date}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.transactedPrice}"></td>
        <td th:text="${item.action}"></td>
        <td th:text="${item.value}"></td>
    </tr>
</table>
</body>
</html>