<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Ticker</th>
    </tr>
    </thead>
    <tr th:each="security : ${securities}">
        <td th:text="${security.id}"></td>
        <td th:text="${security.name}"></td>
        <td th:text="${security.ticker}"></td>
    </tr>
</table>
</body>
</html>